@import "tailwindcss";

@theme {
  /* Light Theme Colors */
  --color-background: oklch(95.37% 0.005 78.63);
  /* Soft Warm White (#F2ECE9) */
  --color-surface: oklch(82.29% 0.007 78.43);
  /* Light Gray (#BFBCBA) */
  --color-primary: oklch(69.53% 0.007 265.32);
  /* Medium Gray (#8C8C8B) */
  --color-secondary: oklch(39.93% 0.004 273.13);
  /* Dark Gray (#403F3E) */
  --color-accent: oklch(82.29% 0.007 78.43);
  /* Using Light Gray as an accent */
  --color-error: oklch(50% 0.25 30);
  /* Adjusted Red */
}

/* Dark Theme Colors */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: oklch(17.58% 0.004 277.06);
    /* Near Black (#0D0D0D) */
    --color-surface: oklch(36.83% 0.002 67.76);
    /* Dark Gray (#403F3E) */
    --color-primary: oklch(69.53% 0.007 265.32);
    /* Medium Gray (#8C8C8B) */
    --color-secondary: oklch(82.29% 0.007 78.43);
    /* Light Gray (#BFBCBA) */
    --color-accent: oklch(95.37% 0.005 78.63);
    /* Soft Warm White (#F2ECE9) */
    --color-error: oklch(50% 0.25 30);
    /* Adjusted Red */
  }
}